---
layout: "quorum"
page_title: "Provider: Quorum"
sidebar_current: "docs-quorum-index"
description: |-
   {{.ShortDescription}}
---

# Quorum Provider

{{.LongDescription}}

## Example Usage

```hcl
provider "quorum" {
}
```