<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%#= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-quorum-index") %>>
          <a href="/docs/providers/quorum/index.html">Quorum Provider</a>
        </li>

        <li<%= sidebar_current("docs-quorum-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
          {{- range $idx, $d := .DataSources}}
            <li<%= sidebar_current("{{$d.SideBarCurrent}}") %>>
              <a href="/docs/providers/quorum/d/{{$d.PageName}}.html">{{$d.Name}}</a>
            </li>
          {{- end}}
          </ul>
        </li>

        <li<%= sidebar_current("docs-quorum-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
          {{- range $idx, $d := .Resources}}
            <li<%= sidebar_current("{{$d.SideBarCurrent}}") %>>
              <a href="/docs/providers/quorum/r/{{$d.PageName}}.html">{{$d.Name}}</a>
            </li>
          {{- end}}
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>